@model BookSwap.Models.Book

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4">Edit Book</h2>

                <form asp-action="EditBook" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="@Model.Id" />

                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" name="title" value="@Model.Title" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Author</label>
                        <input type="text" name="author" value="@Model.Author" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <input type="text" name="category" value="@Model.Category" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="number" step="0.01" name="price" value="@Model.Price" class="form-control" required />
                    </div>

                     <div class="mb-3">
                        <label class="form-label">Stock</label>
                        <input type="number" step="1" name="stock" value="@Model.Stock" class="form-control" required />
                    </div>

                    <div class="mb-3 ">
                        <img src="@Model.ImagePath"
                            style="height:150px; object-fit:cover;"
                            class="img-thumbnail"
                            onerror="this.src='/images/default-book.svg'" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Change Image (optional)</label>
                        <input type="file" name="BookImage" class="form-control" />
                    </div>
                    <input type="hidden" name="ExistingImagePath" value="@Model.ImagePath" />

                    <button type="submit" class="btn btn-primary w-100">Update Book</button>
                </form>

                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success mt-3 text-center">
                        @TempData["Success"]
                    </div>
                }
            </div>
        </div>
    </div>
</div>
